div.footer
  .container
    p
      a(href='https://madanworb.com') Adam Brown
      = ' | '
      | This website is 
      a(href='https://github.com/adamarthurryan/wdiff-markdown-editor') open source
      | .