nav(ng-include='"components/navbar/navbar.html"')

nav(ng-include='"components/elements/header.html"')
    
.container
  .row
    //span(ng-show='isCurrent()')
      | Current revision
    form.form-inline.controls.well

      a.btn.btn-primary(ng-hide='App.isFirst(revision)' href='/{{revision.document._id}}/revision/{{App.previousRevision(revision.document, revision)._id}}')
        | View Previous
      //a.btn.btn-primary(ng-hide='App.isFirst()' href='/wdiff/{{App.previousRevision(revision.document, revision)._id}}/{{revision._id}}')
        | Wdiff from Previous
      //a.btn.btn-primary(ng-hide='App.isCurrent()' href='/wdiff/{{revision._id}}/{{App.nextRevision(revision.document, revision)._id}}')
        | Wdiff to Next
      a.btn.btn-primary(ng-hide='App.isCurrent(revision)' href='/{{revision.document._id}}/revision/{{App.nextRevision(revision.document, revision)._id}}')
        | View Next
      a.btn.btn-primary.pull-right(ng-hide='App.isCurrent(revision)' href='/wdiff/{{revision._id}}/{{revision.document.currentRevision}}')
        | Wdiff to Current

  .row
    .col-lg-6.col-md-9
      div
        p
          | State: 
          {{revision.state}}        
      div(btf-markdown='revision.content')
      //pre
        {{json(revision)}}
 

footer(ng-include='"components/elements/footer.html"')