$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

table.revisions th, table.revisions td{
  padding-left: 1em;
  padding-right: 1em;
}

table.revisions .state {
    width: 7em;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'document/document.scss';
@import 'document/revision-new/revision-new.scss';
@import 'wdiff/wdiff.scss';
@import 'modal/modal.scss';
// endinjector