nav(ng-include='"components/navbar/navbar.html"')

nav(ng-include='"components/elements/header.html"')
    
.container
  .row(ng-show='isOwner()')
    .col-lg-12
      form
          a.btn.btn-primary(href='/{{document._id}}/revision/new')
            | New Revision

  .row
    .col-lg-6.col-md-9.center-block
      
      table.revisions
        tr
          th.state State
          th.created revision
        tr(ng-repeat='revision in document.revisions | orderBy:"created":true | limitTo:5' )
          td.state {{revision.state}}
          td.created 
            h4
              a(href='/{{document._id}}/revision/{{revision._id}}')
                {{revision.created}}
      //pre
        | {{json(revision)}}
 

footer(ng-include='"components/elements/footer.html"')