wdiff.jadenav(ng-include='"components/navbar/navbar.html"')

nav(ng-include='"components/elements/header.html"')
    
.container
  .row
    //!!! add controls to view a and b

  .row
    .col-lg-6.col-md-9.center-block
      div(btf-markdown='wdiff')
      //pre
        {{json(result)}}
 

footer(ng-include='"components/elements/footer.html"')