wdiff.jadenav(ng-include='"components/navbar/navbar.html"')

nav(ng-include='"components/elements/header.html"')
    
.container
  .row
    .col-md-6.col-sm-12.well(ng-show='isShowBefore')
      div(btf-markdown='revisionA.content')
    .col-md-6.col-sm-12
      .controls.well
        a.btn.btn-default.pull-left(ng-hide='isShowBefore', type='submit', ng-click='showBefore()')
          | Show Before
        a.btn.btn-default.pull-right(ng-hide='isShowAfter', type='submit', ng-click='showAfter()')
          | Show After

      div(btf-markdown='wdiff')
    .col-md-6.col-sm-12.well(ng-show='isShowAfter')
      div(btf-markdown='revisionB.content')
      //pre
        {{json(result)}}
 

footer(ng-include='"components/elements/footer.html"')