nav(ng-include='"components/navbar/navbar.html"')

nav(ng-include='"components/elements/header.html"')
    
.container
  .row(ng-show='isLoggedIn()')
    .col-lg-0.col-md-12
      form.form-inline.controls.well
        .form-group
          label(for='title-input')
            | New Document
          input.form-control(type='text', id='title-input', placeholder='title', ng-model='newDocumentTitle')
        button.btn.btn-default(type='submit', ng-click='createDocument()')
          | Create

  .row
    .col-md-6.col-sm-12(ng-repeat='document in documents | orderBy:"currentRevision.created":true' )
      .center-block
        h1
          a(href='/{{document._id}}')
            | {{document.title}}
          a.btn.btn-default.pull-right(href='/{{document._id}}/revision/new')
            | New rev
          a.btn.btn-default.pull-right(ng-hide='document.revisions.length<=1', href='/wdiff/{{document.revisions[1]._id}}/{{document.currentRevision._id}}')
            | Wdiff all
        div.indent
          p(ng-hide='App.isOwner(document)')
            span
              | Owner: 
            span
              | {{document.owner.name}}
          table.revisions
            tr
              th.state State
              th.created Revision
              //th.wdiff(colspan='2') Wdiff With
            tr(ng-repeat='revision in document.revisions | orderBy:"created":true | limitTo:5' ng-hide='$last')
              td.state {{revision.state}}
              td.created 
                h4
                  a(href='/{{document._id}}/revision/{{revision._id}}')
                    {{revision.created}}
              //these aren't working great
              //td.wdiff.prev
                a.btn.btn-default(ng-hide='$last', href='/wdiff/{{App.previousRevision(document, revision)._id}}/{{revision._id}}') Prev
              //td.wdiff.curr
                a.btn.btn-default(ng-hide='$first', href='/wdiff/{{revision._id}}/{{document.currentRevision._id}}') Current
        //pre
          {{App.json(document)}}
   

footer(ng-include='"components/elements/footer.html"')