// nav(ng-include='"components/navbar/navbar.html"')

nav(ng-include='"components/elements/header.html"', onload='title = "dubdiff";  subtitle ="results"')

.container
  .row
    .col-md-2.col-sm-12
      .controls.well.btn-group.col-lg-12
        a.btn.btn-block.btn-primary(ng-class='{"active": isShowBefore}', type='submit', ng-click='showBefore()')
          | Original
        a.btn.btn-block.btn-primary(ng-class='{"active": isShowAfter}', type='submit', ng-click='showAfter()')
          | Final
        a.btn.btn-block.btn-primary(ng-class='{"active": isShowWdiff}', type='submit', ng-click='showWdiff()')
          | Difference

      .controls.well.btn-group.col-lg-12
        a.btn.btn-block.btn-primary(ng-class='{"active": isMarkdownFormat}', type='submit',  ng-click='toggleMarkdownFormat()')
          span.glyphicon(ng-class='{"glyphicon-ok": isMarkdownFormat}')
          | &nbsp; As Markdown



    div(ng-if='isMarkdownFormat')

      .col-md-10.col-sm-12.content-well(ng-show='isShowBefore')
        div.before(btf-markdown='before')

      .col-md-10.col-sm-12.content-well(ng-show='isShowWdiff')
        div.wdiff(btf-markdown='wdiff')

      .col-md-10.col-sm-12.content-well(ng-show='isShowAfter')
        div.after(btf-markdown='after')


    div(ng-if='!isMarkdownFormat')

      .col-md-10.col-sm-12.content-well(ng-show='isShowBefore')
        .content-pre.before(ng-bind-html='before')

      .col-md-10.col-sm-12.content-well(ng-show='isShowWdiff')
        .content-pre.wdiff(ng-bind-html='wdiff')

      .col-md-10.col-sm-12.content-well(ng-show='isShowAfter')
        .content-pre.after(ng-bind-html='after')

footer(ng-include='"components/elements/footer.html"')
